@use "btn";
@import "library";

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-basis: 15%;
    padding-right: 1rem;
    border-right: 2px solid $light-border;

    label {
        font-weight: bolder;
    }

    a {
        @include btn.button;
        width: 100%;
        display: flex;
        color: $darker;
        border: 1px solid $light-border;
        background: none;

        &:hover {
            color: $darkest;
            background: $light-border;
            transition: 0.1s background ease;
        }
    }

    .pages {
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        p {
            color: $light;
        }
    }
}

body[data-type="dark"] .sidebar {
    border-right: 2px solid $dark-border;

    a {
        border: 1px solid $dark-border;
        color: $lighter;

        &:hover {
            background: $dark-border;
        }
    }

    label {
        color: #fff;
    }
}
