table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-radius: 4px;
    border: 2px solid $g1200;
}

table tr:first-child {
    background: $g1200;
}

table td,
table th {
    padding: 1rem;
}

table tr {
    color: $darker;
}

table th {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: left;
    color: $darkest;
}

table tr:not(:last-child) td {
    border-bottom: 2px solid $g1200;
}

body[data-type="dark"] table {
    border: 2px solid $darker;
}

body[data-type="dark"] table tr:first-child {
    background: $darker;
}

body[data-type="dark"] table th {
    color: $lightest;
}

body[data-type="dark"] table td {
    color: $lighter;
}

body[data-type="dark"] table tr:not(:last-child) td {
    border-bottom: 2px solid $darker;
}

table tr:not(:first-child):not(.nohover):hover {
    cursor: pointer;
    background: $g1300;
}

body[data-type="dark"] table tr:not(:first-child):not(.nohover):hover {
    background: rgba(255, 255, 255, 0.01);
}

// table tr:not(.nohover):hover {
//     background: $lightest;
// }
