<nav class="nav">
    <a href="#">EPM</a>
    <ul class="center links">
    </ul>
    <div class="row right">
        <div class="dropdown">
            <a class="link square drop-preview" href="#">
                <span class="material-symbols-outlined">
                    add
                </span>
            </a>
            <div class="drops">
                <a href="/create/project">New Project</a>
                {{!-- <a>New Team</a> --}}
            </div>
        </div>
        <a class="link square notifications" href="#">
            <span class="material-symbols-outlined">
                notifications
            </span>
            {{#ifem user.notifications}}{{else}}<span class="noti"></span>{{/ifem}}
        </a>
        <div class="dropdown">
            <a class="link square drop-preview " href="#">
                <span class="material-symbols-outlined">
                    add
                </span>
                {{#ifem invites}}
                {{else}}
                <span class="noti"></span>
                {{/ifem}}
            </a>
            {{#ifem invites}}
            {{else}}
            <div class="drops">
                {{#each invites}}
                    <a href="/create/project"><span class="light">You've been invited to join</span> <b style="color:#000">{{name}}</b></a>
                {{/each}}
            </div>
            {{/ifem}}
        </div>
        <a class="link square theme-toggle" href="#">
            <span class="material-symbols-outlined">
                dark_mode
            </span>
        </a>
        <a class="link square" href="#">
            <span class="material-symbols-outlined">
                settings
            </span>
        </a>
        <form action="/auth/logout" method="POST">
            <button class="primary link" href="#">Logout</button>
        </form>
    </div>
</nav>