<nav class="nav">
    <a href="#">EPM</a>
    <ul class="center links">
    </ul>
    <div class="row right">
        <div class="dropdown">
            <a class="link square drop-preview" href="#">
                <span class="material-symbols-outlined">
                    add
                </span>
            </a>
            <div class="drops">
                <a>New Project</a>
                {{!-- <a>New Workspace</a> --}}
            </div>
        </div>
        <a class="link square" href="#">
            <span class="material-symbols-outlined">
                notifications
            </span>
        </a>
        <a class="link square theme-toggle" href="#">
            <span class="material-symbols-outlined">
                dark_mode
            </span>
        </a>
        <a class="link square" href="#">
            <span class="material-symbols-outlined">
                settings
            </span>
        </a>
        <form action="/auth/logout" method="POST">
            <button class="primary link" href="#">Logout</button>
        </div>
    </div>
</nav>