@use 'btn';
@import 'library';

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-basis: 15%;
    padding-right: 1rem;
    border-right: 2px solid $light-bg;
}

body[data-type="dark"] .sidebar {
    border-right: 2px solid $dark-bg;
}

.sidebar a {
    @include btn.button;
    width: 100%;
    display: flex;
    color: $darker;
}

.sidebar a:hover {
    color: $darkest;
}

body[data-type="dark"] .sidebar a {
    background: $dark-bg;
    // background: $g200;
    color: $lighter;
}