table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-radius: 4px;
    border: 2px solid $lightest;
}

table tr:first-child {
    background: $lightest;
}
  
table td, table th {
    padding: 1rem;
}

table tr {
    color: $darker;
}

table tr:not(:first-child):hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.02);
}

body[data-type="dark"] table tr:not(:first-child):hover {
    background: rgba(255, 255, 255, 0.01);
}

table tr:hover {
    background: $lightest;
}
  
table th {
    padding-top: .75rem;
    padding-bottom: .75rem;
    text-align: left;
    color: $darkest;
}

table tr:not(:last-child) td {
    border-bottom: 2px solid $lightest;
}

body[data-type="dark"] table {
    border: 2px solid $darker;
}

body[data-type="dark"] table tr:first-child {
    background: $darker;
}

body[data-type="dark"] table th {
    color: $lightest;
}

body[data-type="dark"] table td {
    color: $lighter;
}

body[data-type="dark"] table tr:not(:last-child) td {
    border-bottom: 2px solid $darker;
}