<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>East Project Manager</title>

    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    {{> nav}}
    <div class="container short no-top">
        <div class="row gapped">
            {{> sidebar}}
            <div class="col fill top">
                <label class="page">@ Project / Members</label>
                <h1>{{project.name}}</h1> <span id="project_id">{{project.id}}</span>
                <br />
                <hr />
                <br />
                <h2>Project Members</h2>
                <p>View and manage current project members.</p>
                <br />
                {{#each members}}
                    <form class="row gapped">
                        <p>{{#ifeq email ../user.email}}<i class="light">(You) </i>{{/ifeq}}{{email}}</p>
                    </form>
                {{/each}}

                <br />
                <hr />
                <br />

                {{#if canModify}}
                <form action="javascript:void(0)" class="invite_form">
                    <h2>Invite to project</h2>
                    <p class="light">Invite new people to join and collaborate on this project!</p>
                    {{!-- <div class="row gapped"> --}}
                        <div class="project_invite_grid">

                            <label class="g1">Email</label>
                            <input class="block w-100 g2" id="email-input" placeholder="johndoe@gmail.com">

                            <label class="g3">Role</label>
                            {{!-- <input class="block w-100 g4" id="role-input" placeholder="Member"> --}}
                            <select class="block w-100 g4" id="role-input">
                                <option selected>Manager</option>
                            </select>

                            <button class="btn primary g5">Send</button>
                        </div>
                    {{!-- </div> --}}
                </form>
                {{/if}}
               
            </div>
        </div>
    </div>

    <script src="/js/index.js"></script>
    <script src="/js/post.js"></script>
    <script src="/js/update_project.js"></script>
    <script src="/js/project/settings.js"></script>
</body>
</html>